<form [formGroup]="requestHolidayForm">
    <h1 mat-dialog-title>Request holidays</h1>
    <mat-card>
        <div>
            <mat-form-field>
                <mat-select placeholder="Type" formControlName="type">
                    <mat-option [value]="0">Annual</mat-option>
                    <mat-option [value]="1" *ngIf="data.isParentalAvailable">
                        Parental
                    </mat-option>
                    <mat-option [value]="2">Science</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="inputDatetimeField">
                <input matInput [matDatepicker]="fromInclusive" (focus)="fromInclusive.open()" name="fromInclusive" placeholder="From (inclusive)" formControlName="fromInclusive">
                <mat-datepicker #fromInclusive></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="fromInclusive"></mat-datepicker-toggle>
                <mat-error *ngIf="requestHolidayForm.controls.fromInclusive.errors?.required" class="error">
                    Date cannot be empty.
                </mat-error>
                <mat-error *ngIf="requestHolidayForm.controls.fromInclusive.errors?.isTodayOrEarlier" class="error">
                    From date can not be today or earlier.
                </mat-error>
                <mat-error *ngIf="requestHolidayForm.controls.fromInclusive.errors?.isWeekend" class="error">
                    From date can not be a weekend.
                </mat-error>
                <mat-error *ngIf="requestHolidayForm.controls.fromInclusive.errors?.isFreeWorkday" class="error">
                    From date can not be a public holiday.
                </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="inputDatetimeField">
                <input matInput [matDatepicker]="toInclusive" (focus)="toInclusive.open()" name="toInclusive" placeholder="To (inclusive)" formControlName="toInclusive">
                <mat-datepicker #toInclusive></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="toInclusive"></mat-datepicker-toggle>
                <mat-error *ngIf="requestHolidayForm.controls.toInclusive.errors?.required" class="error">
                    Date cannot be empty.
                </mat-error>
                <mat-error *ngIf="requestHolidayForm.controls.toInclusive.errors?.isWeekend" class="error">
                    To date can not be a weekend.
                </mat-error>
                <mat-error *ngIf="requestHolidayForm.controls.toInclusive.errors?.isFreeWorkday" class="error">
                    To date can not be a public holiday.
                </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="canBePaid()">
            <mat-checkbox formControlName="paid">Paid</mat-checkbox>
        </div>
        <div>
            <mat-form-field *ngIf="isPaid()">
                <input matInput type="number" step="1" placeholder="Overtime Days" formControlName="overtimeDays">
            </mat-form-field>
        </div>
    </mat-card>
    <mat-card>
        <mat-error *ngIf="requestHolidayForm.errors?.isFromLaterThanTo" class="error">
            To date can not be earlier than From.
        </mat-error>
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!requestHolidayForm.valid">
          Request holidays
        </button>
        <button mat-flat-button color="warn" [mat-dialog-close] class="floatRight">Cancel</button>
    </mat-card>
</form>