.button {
  margin-left: 10px;
  margin-top: 7px;
}

.h1-small-space
{
  margin-bottom: 11px;
}

.generalSettings {
  position: fixed;
  font-size: 15px;
  top: 10em;
  left: 41em;
  border-style: solid;
  padding: 10px;
  background-color: white;
}

.notificationSettings {
  position: fixed;
  font-size: 15px;
  top: 10em;
  left: 20em;
  border-style: solid;
  padding: 10px;
  background-color: white;
}
