/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.top-of-page-actions{
  width: 200px !important;
  text-align: center !important;
}

.statusSelect {
  width: 150px !important;
  float: right !important;
}

.table-wrapper {
  position:relative;
}

.table-scroll {
  height:100%;
  overflow:auto;  
  margin-top:20px;
}

table {
  width: 100%;
  box-shadow: none;
}

.mat-row:hover {
  background-color: lightblue;
}

.divider {
  display: flex;
  justify-content: space-between;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}