.container {
  position: relative;
}

.holidaysCount {
  position: fixed;
  font-size: 15px;
  top: 10em;
  left: 20em;
  height: 17em;
  border-style: solid;
  padding: 10px;
  background-color: azure;
  text-align: center;
}
