<nz-layout>
  <nz-sider nzCollapsible [nzCollapsed]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <a routerLink="/home" routerLinkActive="active"></a>
        <i nz-icon nzType="home"></i>
        <span>Home</span>
      </li>
      <li nz-menu-item>
        <a routerLink="/calendar" routerLinkActive="active"></a>
        <i nz-icon nzType="calendar"></i>
        <span>Calendar</span>
      </li>
      <div *ngIf="isAdmin()">
        <li nz-menu-item>
          <a routerLink="/clients" routerLinkActive="active"></a>
          <i nz-icon nzType="team"></i>
          <span>Clients</span>
        </li>
        <li nz-menu-item>
          <a routerLink="/employees" routerLinkActive="active"></a>
          <i nz-icon nzType="solution"></i>
          <span>Employees</span>
        </li>
        <li nz-menu-item>
          <a routerLink="/holidays" routerLinkActive="active"></a>
          <i nz-icon nzType="smile"></i>
          <span>Holidays</span>
        </li>
      </div>
      <li nz-submenu nzTitle="{{currentUser.name}}" nzIcon="user">
        <ul>
          <li nz-menu-item>
            <a routerLink="/profile" routerLinkActive="active"></a>
            <i nz-icon nzType="bars"></i>
            <span>Profile</span>
          </li>
          <li nz-menu-item>
            <a (click)=logout()></a>
            <i nz-icon nzType="poweroff"></i>
            <span>Log off</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon nzType="menu-fold" nzTheme="outline"></i>
</ng-template>