<div>
    <br>
    <button mat-raised-button class="top-of-page-actions" color="primary" (click)="openAddForm()">Add survey</button>
    <br>
  
    <mat-form-field class="top-of-page-actions">
      <input class="search-text-size" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
      <mat-icon class="search-icon-size" matSuffix>search</mat-icon>
    </mat-form-field>
    <br>
  
  </div>
  
<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let survey"> {{survey.title}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let survey"> {{survey.authorId}} </td>
  </ng-container>

  <ng-container matColumnDef="surveyType">
    <th mat-header-cell *matHeaderCellDef> Survey type </th>
    <td mat-cell *matCellDef="let survey"> {{enumConverter.determineSurveyType(survey.type)}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let survey">
      <button mat-raised-button color="primary" (click)="openEditForm(survey)">Edit</button>
      &nbsp;
      <button mat-flat-button color="primary" (click)="showApproveConfirm(survey.guid)">Approve and get link</button>
      &nbsp;
      <button mat-flat-button color="primary">Answers</button>
      &nbsp;
      <button mat-flat-button color="warn" (click)="showDeleteConfirm(survey.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
