<div *ngIf="!isAdmin()">
    <button nz-button nzType="primary" (click)=showModalCreator()>Request holidays</button>
    <form #newClientForm="ngForm" class="client-input-form" (ngSubmit)="onSubmit(newClientForm)">
        <nz-modal [(nzVisible)]="isVisibleCreator" [nzTitle]="modalTitl" [nzContent]="modalConten"
            [nzFooter]="modalFoote" (nzOnCancel)="handleCancelCreator()">
            <ng-template #modalTitl>
                Request holidays
            </ng-template>
            <ng-template #modalConten>
                <mat-card>
                    <div>
                        <mat-form-field>
                            <mat-select [(ngModel)]="requestHolidays.employeeId" name="employeeId"
                                placeholder="Employee">
                                <mat-option [value]="currentUserId">{{currentUser.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-select [(ngModel)]="requestHolidays.type" name="type" placeholder="Holidays type"
                                required #nameInput="ngModel">
                                <mat-option [value]="0">Annual</mat-option>
                                <mat-option [value]="1">Parental</mat-option>
                                <mat-option [value]="2">Science</mat-option>
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Type cannot be empty.
                                </mat-error>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput [(ngModel)]="requestHolidays.fromInclusive" type="date" name="fromInclusive"
                                placeholder="Holidays from" required #nameInput="ngModel">
                            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                class="error">
                                Date cannot be empty.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput [(ngModel)]="requestHolidays.toExclusive" type="date" name="toExclusive"
                                placeholder="Holidays to" required #nameInput="ngModel">
                            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                class="error">
                                Date cannot be empty.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card>
            </ng-template>

            <ng-template #modalFoote>
                <button nz-button nzType="default" (click)="handleCancelCreator()">Cancel</button>
                <button nz-button nzType="primary" (click)="onAddButtonClick(requestHolidays); handleOkCreator()"
                    [nzLoading]="isConfirmLoadingCreator" [disabled]="newClientForm.form.invalid">Request</button>
            </ng-template>
        </nz-modal>
    </form>
</div>

<div *ngIf="isAdmin()">
    <nz-table #basicTable [nzData]="holidays">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Holidays type</th>
                <th>Date from</th>
                <th>Date to</th>
                <th>Status</th>
                <th>Request creation date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hol of basicTable.data">
                <td>{{getUserNameById(hol.employeeId)}}</td>
                <td>{{checkWhatTypeOfHoliday(hol.type)}}</td>
                <td>{{hol.fromInclusive | date}}</td>
                <td>{{hol.toExclusive | date}}</td>
                <td>{{hol.status}}</td>
                <td>{{hol.requestCreatedDate | date}}</td>
                <td>
                    <button nz-button nzType="primary"
                        (click)="populateForm(hol); showDeleteConfirm(formData.id); populateFormNoId(hol)">Delete</button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<div *ngIf="!isAdmin()">
    <nz-table #basicTable [nzData]="holidays">
        <thead>
            <tr>
                <th>Holidays type</th>
                <th>Date from</th>
                <th>Date to</th>
                <th>Status</th>
                <th>Request creation date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hol of basicTable.data">
                <ng-container *ngIf="isTheRightId(hol)">
                    <td>{{checkWhatTypeOfHoliday(hol.type)}}</td>
                    <td>{{hol.fromInclusive | date}}</td>
                    <td>{{hol.toExclusive | date}}</td>
                    <td>{{hol.status}}</td>
                    <td>{{hol.requestCreatedDate | date}}</td>
                </ng-container>
            </tr>
        </tbody>
    </nz-table>
</div>