.employeesInfo{
    position: fixed;
    font-size: 15px;
    top: 10em;
    left: 15em;
    border-style: solid;
    padding: 10px;
    background-color: azure;
}

.holidaysInfo {
  position: fixed;
  font-size: 15px;
  top: 10em;
  left: 35em;
  border-style: solid;
  padding: 10px;
  background-color: azure;
}

.settings  {
    margin-top: 10px;
    margin-left: 10px;
}
