.example-chip-list {
    width: 100%;
}

.statusSelect {
    right: 5em;
    top: 5em;
    width: 150px;
    float: right;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}