<button nz-button nzType="primary" (click)="showNewItemModal()">Add item</button>
<nz-table #basicTable [nzData]="equipment">
    <thead>
      <tr>
        <th>Category</th>
        <th>Name</th>
        <th>Serial number</th>
        <th>Purchase Date</th>
        <th>Price</th>
        <th>Assigned</th>
        <th>Expiration Date</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.category.name}}</td>
        <td>{{data.name}}</td>
        <td>{{data.serialNumber}}</td>
        <td>{{data.purchaseDate | date}}</td>
        <td>{{data.price}}</td>
        <td>{{data.employee.name}}</td>
        <td>{{data.expiryDate | date}}</td>
        <td nzBreakWork>{{data.comment}}</td>
        <td>
          <button nz-button nzType="default" (click)="modify(data)">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
        </td>
      </tr>
    </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisibleNewItemModal" (nzOnCancel)="closeNewItemModal()"
    [nzTitle]="isModifying ? 'Edit equipment' : 'Add new equipment'" nzWidth="600" [nzContent]="newItemModalContent"
    [nzFooter]="newItemModalFooter">
    <ng-template #newItemModalContent>
        <form nz-form [formGroup]="input" (onsubmit)="saveInventoryItem()" nzLayout="horizontal">
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="inventoryCategoryId" nzRequired>Category</nz-form-label>
                <nz-form-control [nzSpan]="10" [nzErrorTip]="categoryErrorTip">
                    <nz-select formControlName="inventoryCategoryId" nzPlaceHolder="Select item category">
                        <nz-option *ngFor="let category of categories" [nzValue]=category.id [nzLabel]="category.name">
                        </nz-option>
                    </nz-select>
                    <ng-template #categoryErrorTip let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Category is required!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="employeeId">Employee</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <nz-select formControlName="employeeId" nzPlaceHolder="Select employee"
                        [(ngModel)]="selectedEmployee" nzShowSearch nzAllowClear>
                        <nz-option *ngFor="let employee of employees" [nzValue]="employee.id"
                            [nzLabel]="employee.name + ' ' + employee.surname">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="name" nzRequired>Name</nz-form-label>
                <nz-form-control [nzErrorTip]="nameErrorTip" [nzSpan]="10">
                    <input nz-input autocomplete="off" formControlName="name" placeholder="Name" />
                    <ng-template #nameErrorTip let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Name is required!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="serialNumber" nzRequired>Serial number</nz-form-label>
                <nz-form-control [nzSpan]="10" [nzErrorTip]="serialNumberErrorTip">
                    <input nz-input autocomplete="off" formControlName="serialNumber" placeholder="Serial number" />
                    <ng-template #serialNumberErrorTip let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Serial number is required!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="price" nzRequired>Price</nz-form-label>
                <nz-form-control [nzSpan]="10" [nzErrorTip]="priceErrorTip">
                    <input type="number" autocomplete="off" nz-input formControlName="price" placeholder="Price" />
                    <ng-template #priceErrorTip let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Price is required!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="purchaseDate" nzRequired>Purchase date</nz-form-label>
                <nz-form-control [nzSpan]="10" [nzErrorTip]="purchaseDateErrorTip">
                    <nz-date-picker formControlName="purchaseDate"></nz-date-picker>
                    <ng-template #purchaseDateErrorTip let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Date of purchase is required!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="expirationDate" nzRequired>Expiration date</nz-form-label>
                <nz-form-control [nzSpan]="10" [nzErrorTip]="expiryDateErrorTip">
                    <nz-date-picker formControlName="expiryDate"></nz-date-picker>
                    <ng-template #expiryDateErrorTip let-control>
                        <ng-container *ngIf="control.hasError('required')">
                            Expiration date is required!
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="comment">Comment</nz-form-label>
                <nz-form-control [nzSpan]="10">
                    <textarea type="text" autocomplete="off" nz-input formControlName="comment" placeholder="Comment">
                        </textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #newItemModalFooter>
        <button nz-button nzType="default" (click)="closeNewItemModal()">Cancel</button>
        <button nz-button nzType="default" (click)="saveInventoryItem()" [disabled]="this.input.invalid">Save</button>
    </ng-template>
</nz-modal>
