<button nz-button nzType="primary" (click)="openAddForm()">
  Add new client
</button>

<nz-table #basicTable [nzData]="client">
  <thead>
    <tr>
      <th nzCustomFilter>
        Company name
        <i class="ant-table-filter-icon"
           nz-icon
           nz-dropdown
           #dropdown="nzDropdown"
           nzType="search"
           [nzDropdownMenu]="menu"
           [class.ant-table-filter-open]="dropdown.nzVisible"
           nzTrigger="click"
           nzPlacement="bottomRight"
           [nzClickHide]="false"
           nzTableFilter></i>
      </th>
      <th>Owner Name</th>
      <th>Owner Surname</th>
      <th>Owner email</th>
      <th>Owner phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clien of basicTable.data">
      <td>{{ clien.companyName }}</td>
      <td>{{ clien.ownerName }}</td>
      <td>{{ clien.ownerSurname }}</td>
      <td>{{ clien.ownerEmail }}</td>
      <td>{{ clien.ownerPhone }}</td>
      <td>
        <button nz-button
                nzType="primary"
                (click)="
            openEditForm(clien)
          ">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text"
           nz-input
           placeholder="Search name"
           [(ngModel)]="searchValue" />
    <button nz-button
            nzSize="small"
            nzType="primary"
            (click)="search()"
            class="search-button">
      Search
    </button>
    <button nz-button nzSize="small" (click)="reset()">Reset</button>
  </div>
</nz-dropdown-menu>
