<form [formGroup]="addEmployeeForm">
    <h1 mat-dialog-title>Add new employee</h1>
    <mat-card>
        <app-base-employee-form formControlName="baseForm" [clients]="data.clients" [roles]="data.roles"></app-base-employee-form>
        <div class="alignRight">
            <mat-form-field>
                <input matInput type="password" placeholder="Employee password" formControlName="password">
                <mat-error *ngIf="addEmployeeForm.controls.password.errors?.required" class="error">
                    Please enter password.
                </mat-error>
                <mat-error *ngIf="addEmployeeForm.controls.password.errors?.minlength" class="error">
                    Enter at least 6 symbols.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="divider">
            <div>
                <mat-checkbox formControlName="isManualHolidaysInput">
                    Enter available holidays manually:
                </mat-checkbox>
            </div>
            <div *ngIf="addEmployeeForm.controls.isManualHolidaysInput.value">
                <mat-form-field>
                    <input matInput type="number" step="0.1" placeholder="Free work days" formControlName="freeWorkDays">
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="addEmployeeForm.invalid">
            Add Employee
        </button>
        <button mat-flat-button color="warn" class="floatRight" [mat-dialog-close]>Cancel</button>
    </mat-card>
</form>