<button nz-button nzType="primary" (click)=openAddForm()>Add new employee</button>
<nz-modal [(nzVisible)]="isVisibleEquipmentModal" [nzTitle]="EquipmentModal" [nzContent]="EquipmentModalContent" [nzFooter]="EquipmentModalFooter" (nzOnCancel)="closeEquipmentModal()" nzWidth="1000">
    <ng-template #EquipmentModal>
        Equipment list
    </ng-template>
    <ng-template #EquipmentModalContent>
        <app-inventory-table [employeeId]="employeeIdForEquipment"></app-inventory-table>
    </ng-template>
    <ng-template #EquipmentModalFooter>
        <button nz-button nzType="default" (click)="closeEquipmentModal()">Close</button>
    </ng-template>
</nz-modal>
<nz-table #basicTable [nzData]="users" [nzScroll]="{x: '100%'}">
    <thead>
        <tr>
            <th>Name</th>
            <th nzCustomFilter>
                Surname
                <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search" [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
            </th>
            <th>Client</th>
            <th>Works from</th>
            <th>Birthday date</th>
            <th>Days of vacation</th>
            <th>Free workdays left</th>
            <th>Overtime hours</th>
            <th>Email</th>
            <th>Position</th>
            <th>Parental leave limit</th>
            <th>Current available parental leaves</th>
            <th>Next month's parental leaves</th>
            <th>Health check-up date</th>
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of basicTable.data">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{getClientName(user.clientId)}}</td>
            <td>{{user.worksFromDate | date}}</td>
            <td>{{user.birthdayDate | date}}</td>
            <td>{{user.daysOfVacation}}</td>
            <td>{{user.freeWorkDays | number : '.0-2'}}</td>
            <td>{{user.overtimeHours}}</td>
            <td>{{user.email}}</td>
            <td>{{user.position}}</td>
            <td>{{user.parentalLeaveLimit}}</td>
            <td>{{user.currentAvailableLeaves}}</td>
            <td>{{user.nextMonthAvailableLeaves}}</td>
            <td>{{user.healthCheckDate | date}}</td>
            <td>{{employeeStatus[user.status]}} employee</td>
            <td>
                <button mat-flat-button color="primary" (click)="openEditForm(user)">Edit</button>
            </td>
            <td>
                <button mat-flat-button color="warn" (click)="showDeleteConfirm(user)" [disabled]="user.id === getCurrentUserId()">Delete</button>
            </td>
            <td>
                <button mat-flat-button color="primary" (click)="showEquipmentModal(user.id)">Equipment</button>
            </td>
        </tr>

    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
      Search
    </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
</nz-dropdown-menu>