<form [formGroup]="addInventoryItemForm">
  <h1 class="alignCenter" mat-dialog-title>Add new Iventory Item</h1>
  <mat-card>
    <app-base-inventory-form #baseComponent="baseInventoryFormComponent" formControlName="baseForm" [categories]="data.categories" [employees]="data.employees"></app-base-inventory-form>
  </mat-card>

  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="isFormInvalid(baseComponent.baseForm)">
      Add Item
    </button>
    <button mat-flat-button color="warn" [mat-dialog-close]>
    Cancel
    </button>
  </mat-dialog-actions>
</form>
