@page
@model XplicityApp.BadRequestModel
@{
    ViewData["Title"] = "BadRequest";
    var imagePath = Url.Content("~/Resources/Images/requestRejected.png");
    var styleSheetPath = Url.Content("~/Resources/Stylesheets/global.css");
}

<html>
<head>
    <link href=@styleSheetPath rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="center">
        <img src=@imagePath height="125" width="140" />
        <p><font size="6">Bad request</font></p>
        <p><font size="4">The link is broken, you might have already responded.</font></p>
    </div>
</body>
</html>
