@page
@model XplicityApp.HolidayConfirmationAbandonedModel
@{
    ViewData["Title"] = "HolidayConfirmationAbandoned";
    var imagePath = Url.Content("http://127.0.0.1:10000/devstoreaccount1/images/requestRejected.png");
    var styleSheetPath = Url.Content("http://127.0.0.1:10000/devstoreaccount1/stylesheets/global.css");
}

<html>
<head>
    <link href=@styleSheetPath rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="center">
        <img src=@imagePath height="125" width="140" />
        <p><font size="4">@Model.UserWhoAbandoned has abandoned this holiday request.</font></p>
    </div>
</body>
</html>
