<div>
  <br>
  <app-holiday-request-button (holidayRequested)="updateHolidaysTable()"></app-holiday-request-button>
  <br>
  <mat-form-field class="top-of-page-actions">
    <input class="search-text-size" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
    <mat-icon class="search-icon-size" matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-select *ngIf="isAdmin()" class="statusSelect" name="status" placeholder="Employee status"
    (selectionChange)="refreshTable(selectedEmployeeStatus)" [(value)]="selectedEmployeeStatus">
    <mat-option [value]="1">
      Current employees
    </mat-option>
    <mat-option [value]="0">
      Former employees
    </mat-option>
  </mat-select>
</div>

<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="employee">
    <th mat-header-cell *matHeaderCellDef> Employee </th>
    <td mat-cell *matCellDef="let element"> {{element.employeeFullName}} </td>
  </ng-container>

  <ng-container matColumnDef="holidaysType">
    <th mat-header-cell *matHeaderCellDef> Holidays type </th>
    <td mat-cell *matCellDef="let element"> {{enumConverter.determineHolidayType(element.type)}} </td>
  </ng-container>

  <ng-container matColumnDef="dateFrom">
    <th mat-header-cell *matHeaderCellDef> Date from </th>
    <td mat-cell *matCellDef="let element"> {{element.fromInclusive | date}} </td>
  </ng-container>

  <ng-container matColumnDef="dateTo">
    <th mat-header-cell *matHeaderCellDef> Date to </th>
    <td mat-cell *matCellDef="let element"> {{element.toInclusive | date}} </td>
  </ng-container>

  <ng-container matColumnDef="overtimeHours">
    <th mat-header-cell *matHeaderCellDef> Overtime hours </th>
    <td mat-cell *matCellDef="let element"> {{getOvertime(element)}} </td>
  </ng-container>

  <ng-container matColumnDef="overtimeDays">
    <th mat-header-cell *matHeaderCellDef> Overtime days </th>
    <td mat-cell *matCellDef="let element"> {{getOvertime(element)}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element" [ngStyle]="{'color':getStatusColor(element.status)}">
      {{getStatusName(element.status)}} </td>
  </ng-container>

  <ng-container matColumnDef="rejectedConfirmed">
    <th mat-header-cell *matHeaderCellDef> Rejected/confirmed by </th>
    <td mat-cell *matCellDef="let element"> {{element.confirmerFullName}} </td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef> Request creation date </th>
    <td mat-cell *matCellDef="let element"> {{element.requestCreatedDate | date}} </td>
  </ng-container>

  <ng-container matColumnDef="rejectionReason">
    <th mat-header-cell *matHeaderCellDef> Rejection reason </th>
    <td mat-cell *matCellDef="let element"> {{element.rejectionReason}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf=!allowedToAbandon(element)>
        <button mat-raised-button color="primary" (click)="abandonHoliday(element)">
          Abandon
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
