<div>
    <div class="divider">
        <button nz-button nzType="primary" style="float:left;" (click)="openRequestHolidayModal()">Request holidays</button>
        <mat-select *ngIf="isAdmin()" class="statusSelect" name="status" placeholder="Employee status" (selectionChange)="refreshTable(selectedEmployeeStatus)" [(value)]="selectedEmployeeStatus">
            <mat-option [value]="1">
                Current employees
            </mat-option>
            <mat-option [value]="0">
                Former employees
            </mat-option>
        </mat-select>
    </div>
</div>

<div *ngIf="holidays">
    <nz-table #basicTable [nzData]="getHolidaysByRole()">
        <thead>
            <tr>
                <th *ngIf="isAdmin()">Employee</th>
                <th>Holidays type</th>
                <th>Paid</th>
                <th>Date from</th>
                <th>Date to</th>
                <th *ngIf="isAdmin()">Overtime hours</th>
                <th *ngIf="!isAdmin()">Overtime days</th>
                <th>Status</th>
                <th>Rejected/confirmed by</th>
                <th>Request creation date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holiday of basicTable.data">
                <td *ngIf="isAdmin()">{{getFullNameById(holiday.employeeId)}}</td>
                <td>{{enumConverter.determineHolidayType(holiday.type)}}</td>
                <td>{{paidToString(holiday.paid)}}</td>
                <td>{{holiday.fromInclusive | date}}</td>
                <td>{{holiday.toInclusive | date}}</td>
                <td>{{getOvertime(holiday)}}</td>
                <td [style.color]="getStatusColor(holiday.status)">{{getStatusName(holiday.status)}}</td>
                <td>{{holiday.confirmerFullName}}</td>
                <td>{{holiday.requestCreatedDate | date}}</td>
            </tr>
        </tbody>
    </nz-table>
</div>
