<form #clientForm="ngForm">

  <h1 mat-dialog-title>
    <div *ngIf="isAddingNewClient(); else clientEditingFormTitle">
      Add client
    </div>
    <ng-template #clientEditingFormTitle>
      Edit client
    </ng-template>
  </h1>

  <mat-dialog-content>
    <mat-card>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.clientFormData.companyName" name="companyName"
                 placeholder="Company name" required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.invalid" class="error">
            Company name cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.clientFormData.ownerName" name="ownerName"
                 placeholder="Owner name" required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.invalid" class="error">
            Owner name cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.clientFormData.ownerSurname" name="ownerSurname"
                 placeholder="Owner surname" required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.invalid" class="error">
            Owner surname cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.clientFormData.ownerEmail" type="email" name="ownerEmail"
                 placeholder="Owner email" required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.invalid" class="error">
            Owner email cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="data.clientFormData.ownerPhone" name="ownerPhone"
                 placeholder="Owner phone" required #nameInput="ngModel">
          <mat-error *ngIf="nameInput.invalid" class="error">
            Owner phone cannot be empty.
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button mat-button-base [mat-dialog-close]>Cancel</button>
    <div *ngIf="isAddingNewClient(); then clientAddingFormButton else clientEditingFromButton"></div>
    <ng-template #clientAddingFormButton>
      <button mat-flat-button color="primary" [mat-dialog-close]="data.clientFormData" [disabled]="clientForm.form.invalid">
        Add client
      </button>
    </ng-template>
    <ng-template #clientEditingFromButton>
      <button mat-flat-button color="primary" (click)="closeModal(data.clientFormData)" [disabled]="clientForm.form.invalid">
        Confirm edit
      </button>
    </ng-template>
  </mat-dialog-actions>

</form>
