<button nz-button nzType="primary" (click)=showModalCreator()>Add new client</button>
<form #newClientForm="ngForm" class="client-input-form" (ngSubmit)="onSubmit(newClientForm)">
  <nz-modal [(nzVisible)]="isVisibleCreator" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancelCreator()">
    <ng-template #modalTitle>
      Add new client
    </ng-template>

    <ng-template #modalContent>
      <mat-card>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="newClient.companyName" type="text" name="companyName"
              placeholder="Company name" required #nameInput="ngModel">
            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
              Company name cannot be empty.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="newClient.ownerName" type="text" name="ownerName" placeholder="Owner name"
              required #nameInput="ngModel">
            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
              Owner name cannot be empty.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="newClient.ownerSurname" type="text" name="ownerSurname"
              placeholder="Owner surname" required #nameInput="ngModel">
            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
              Owner surname cannot be empty.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="newClient.ownerEmail" type="text" name="ownerEmail" placeholder="Owner email"
              required #nameInput="ngModel">
            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
              Owner email cannot be empty.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="newClient.ownerPhone" type="text" name="ownerPhone" placeholder="Owner phone"
              required #nameInput="ngModel">
            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
              Owner phone cannot be empty.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancelCreator()">Cancel</button>
      <button nz-button nzType="primary" (click)="onAddButtonClick(newClient)" (click)="handleOkCreator()"
        [nzLoading]="isConfirmLoadingCreator" [disabled]="newClientForm.form.invalid">Add client</button>
    </ng-template>
  </nz-modal>
</form>
<nz-table #basicTable [nzData]="client">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Owner Name</th>
      <th>Owner Surname</th>
      <th>Owner email</th>
      <th>Owner phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let clien of client">
      <td>{{clien.companyName}}</td>
      <td>{{clien.ownerName}}</td>
      <td>{{clien.ownerSurname}}</td>
      <td>{{clien.ownerEmail}}</td>
      <td>{{clien.ownerPhone}}</td>
      <td>
        <a (click)="showModalEditor()">Edit</a>
        <form #newClientForm="ngForm" class="client-input-form" (ngSubmit)="onSubmit(newClientForm)">
          <nz-modal [(nzVisible)]="isVisibleEditor" [nzTitle]="modalTitle" [nzContent]="modalContent"
            [nzFooter]="modalFooter" (nzOnCancel)="handleCancelEditor()">
            <ng-template #modalTitle>
              Edit client
            </ng-template>

            <ng-template #modalContent>
              <mat-card>
                <div>
                  <mat-form-field>
                    <input matInput [(ngModel)]="newClient.companyName" type="text" name="companyName"
                      placeholder="Company name" required #nameInput="ngModel">
                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                      Company name cannot be empty.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput [(ngModel)]="newClient.ownerName" type="text" name="ownerName"
                      placeholder="Owner name" required #nameInput="ngModel">
                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                      Owner name cannot be empty.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput [(ngModel)]="newClient.ownerSurname" type="text" name="ownerSurname"
                      placeholder="Owner surname" required #nameInput="ngModel">
                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                      Owner surname cannot be empty.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput [(ngModel)]="newClient.ownerEmail" type="text" name="ownerEmail"
                      placeholder="Owner email" required #nameInput="ngModel">
                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                      Owner email cannot be empty.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input matInput [(ngModel)]="newClient.ownerPhone" type="text" name="ownerPhone"
                      placeholder="Owner phone" required #nameInput="ngModel">
                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                      Owner phone cannot be empty.
                    </mat-error>
                  </mat-form-field>
                </div>
              </mat-card>
            </ng-template>

            <ng-template #modalFooter>
              <button nz-button nzType="default" (click)="handleCancelEditor()">Cancel</button>
              <button nz-button nzType="danger">Delete</button>
              <button nz-button nzType="primary" (click)="onAddButtonClick(newClient)" (click)="handleOkEditor()"
                [nzLoading]="isConfirmLoadingEditor" [disabled]="newClientForm.form.invalid">Add client</button>
            </ng-template>
          </nz-modal>
        </form>
      </td>
    </tr>
  </tbody>
</nz-table>