<mat-dialog-content>

    <h1 class="alignCenter" mat-dialog-title>
        {{this.selectedEmployee.name + ' ' + this.selectedEmployee.surname}}'s inventory</h1>

    <table mat-table [dataSource]="assignedEquipment">

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let item"> {{item.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="serial number">
            <th mat-header-cell *matHeaderCellDef>Serial Number</th>
            <td mat-cell *matCellDef="let item"> {{item.serialNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="purchase date">
            <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
            <td mat-cell *matCellDef="let item"> {{item.purchaseDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="originalPrice">
            <th mat-header-cell *matHeaderCellDef>Original Price</th>
            <td mat-cell *matCellDef="let item"> {{item.originalPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="currentPrice">
            <th mat-header-cell *matHeaderCellDef>Current price</th>
            <td mat-cell *matCellDef="let item"> {{item.currentPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="assigned to">
            <th mat-header-cell *matHeaderCellDef>Assigned To</th>
            <td mat-cell *matCellDef="let item"> {{item.assignedTo}} </td>
        </ng-container>

        <ng-container matColumnDef="expiry date">
            <th mat-header-cell *matHeaderCellDef>Expiration Date</th>
            <td mat-cell *matCellDef="let item"> {{item.expiryDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let item"> {{item.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef>Tags</th>
            <td mat-cell *matCellDef="let item">
                <div *ngFor="let tag of item.tagTitles|slice:0:2">{{tag}}</div>
                <div *ngIf="item.tags.length > 2">...</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <button mat-flat-button color="primary" (click)="unassignItem(item)">Unassign</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <hr>
    
    <mat-form-field class="top-of-page-actions">
        <input class="search-text-size" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
        <mat-icon class="search-icon-size" matSuffix>search</mat-icon>
    </mat-form-field>

    <table mat-table [dataSource]="unassignedEquipment">

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let item"> {{item.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let item"> {{item.name}} </td>
        </ng-container>

        <ng-container matColumnDef="serial number">
            <th mat-header-cell *matHeaderCellDef>Serial Number</th>
            <td mat-cell *matCellDef="let item"> {{item.serialNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="purchase date">
            <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
            <td mat-cell *matCellDef="let item"> {{item.purchaseDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="originalPrice">
            <th mat-header-cell *matHeaderCellDef>Original Price</th>
            <td mat-cell *matCellDef="let item"> {{item.originalPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="currentPrice">
            <th mat-header-cell *matHeaderCellDef>Current price</th>
            <td mat-cell *matCellDef="let item"> {{item.currentPrice}} </td>
        </ng-container>

        <ng-container matColumnDef="assigned to">
            <th mat-header-cell *matHeaderCellDef>Assigned To</th>
            <td mat-cell *matCellDef="let item"> {{item.assignedTo}} </td>
        </ng-container>

        <ng-container matColumnDef="expiry date">
            <th mat-header-cell *matHeaderCellDef>Expiration Date</th>
            <td mat-cell *matCellDef="let item"> {{item.expiryDate | date}} </td>
        </ng-container>

        <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef>Comment</th>
            <td mat-cell *matCellDef="let item"> {{item.comment}} </td>
        </ng-container>

        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef>Tags</th>
            <td mat-cell *matCellDef="let item">
                <div *ngFor="let tag of item.tagTitles|slice:0:2">{{tag}}</div>
                <div *ngIf="item.tags.length > 2">...</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let item">
                <button mat-flat-button color="primary" (click)="assignItem(item)">Assign</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</mat-dialog-content>