<form [formGroup]="controlGroup">
    <h1 mat-dialog-title>Edit employee</h1>
    <mat-card>
        <div class="divider">
            <div>
                <mat-form-field>
                    <input matInput placeholder="Employee name" formControlName="name">
                    <mat-error *ngIf="controlGroup.controls.name.invalid" class="error">
                        Please enter a valid name.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Employee surname" formControlName="surname">
                    <mat-error *ngIf="controlGroup.controls.surname.invalid" class="error">
                        Please enter a valid surname.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="divider">
            <div>
                <mat-form-field>
                    <mat-select placeholder="Client" formControlName="clientId">
                        <mat-option [value]="0">No client</mat-option>
                        <div *ngFor="let client of data.clients">
                            <mat-option [value]="client.id">{{client.companyName}}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="date" placeholder="Started working from date" formControlName="worksFromDate">
                    <mat-error *ngIf="controlGroup.controls.worksFromDate.invalid" class="error">
                        Date cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="divider">
            <div>
                <mat-form-field>
                    <input matInput type="date" placeholder="Employee birthday date" formControlName="birthdayDate">
                    <mat-error *ngIf="controlGroup.controls.birthdayDate.invalid" class="error">
                        Date cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="date" placeholder="Employee health check-up date" formControlName="healthCheckDate">
                    <mat-error *ngIf="controlGroup.controls.healthCheckDate.invalid" class="error">
                        Date cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="divider">
            <div>
                <mat-form-field>
                    <mat-select placeholder="Days of vacation" formControlName="daysOfVacation">
                        <mat-option [value]="20">20</mat-option>
                        <mat-option [value]="25">25</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-select placeholder="Parental leave limit" formControlName="parentalLeaveLimit">
                        <mat-option [value]="0">0</mat-option>
                        <mat-option [value]="1">1</mat-option>
                        <mat-option [value]="2">2</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="divider">
            <div>
                <mat-form-field>
                    <input matInput type="number" step="0.01" placeholder="Free work days" formControlName="freeWorkDays">
                    <mat-error *ngIf="controlGroup.controls.freeWorkDays.invalid" class="error">
                        Free work days cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="number" min="0" placeholder="Overtime hours" formControlName="overtimeHours">
                    <mat-error *ngIf="controlGroup.controls.overtimeHours.invalid" class="error">
                        Overtime hours cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="divider">
            <div>
                <mat-form-field>
                    <input matInput placeholder="Employee email" formControlName="email">
                    <mat-error *ngIf="controlGroup.controls.email.invalid" class="error">
                        Please enter a valid email.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-select placeholder="Employee status" formControlName="status">
                        <mat-option [value]="0">
                            Former employee
                        </mat-option>
                        <mat-option [value]="1">
                            Current employee
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="divider">
            <div>
                <mat-form-field>
                    <mat-select placeholder="Employee role" formControlName="role">
                        <mat-option *ngFor="let role of data.roles" [value]="role.name">
                            {{role.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Employee position" formControlName="position">
                    <mat-error *ngIf="controlGroup.controls.position.invalid" class="error">
                        Position cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <button mat-flat-button color="primary" (click)="confirmEdit()" [disabled]="controlGroup.invalid">
          Edit employee
        </button>
        <button mat-flat-button color="warn" (click)="closeModal(null)" class="floatRight">Cancel</button>
    </mat-card>
</form>