<form [formGroup]="editEmployeeForm">
    <h1  class="alignCenter" mat-dialog-title>Edit employee</h1>
    <mat-card>
        <app-base-employee-form #baseComponent="baseEmployeeComponent" formControlName="baseForm" [clients]="data.clients" [roles]="data.roles" [initialEmail]="data.userToUpdate.email"></app-base-employee-form>
        <div class="alignRight">
            <mat-form-field>
                <mat-select placeholder="Status" formControlName="status">
                    <mat-option [value]="0">
                        Former employee
                    </mat-option>
                    <mat-option [value]="1">
                        Current employee
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="divider">
            <div>
                <mat-form-field>
                    <input matInput type="number" step="0.01" placeholder="Free work days" formControlName="freeWorkDays">
                    <mat-error *ngIf="editEmployeeForm.controls.freeWorkDays.invalid" class="error">
                        Free work days cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput type="number" min="0" placeholder="Overtime hours" formControlName="overtimeHours">
                    <mat-error *ngIf="editEmployeeForm.controls.overtimeHours.invalid" class="error">
                        Overtime hours cannot be empty.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
    &nbsp;
    <div class='buttons'>
        <div class ="buttonLeft">
            <button mat-flat-button color="accent" class = "coloredButton" (click)="showDeleteConfirm(data.userToUpdate)" 
            [disabled]="data.isEditingSelf">Delete</button>
        </div>
        <div class="buttonRight">
            <button mat-flat-button color="primary" (click)="confirmEdit()" [disabled]="isFormInvalid(baseComponent.baseForm)">Edit employee</button>
            &nbsp;
            <button mat-flat-button color="warn" (click)="closeModal(null)">Cancel</button>
        </div>
    </div>

   
</form>