<div class="employeesInfo">
    <h1><b>Profile information</b></h1>
<p><b>Name</b>: {{ currentUser.name }}</p>
<p><b>Surname</b>: {{ currentUser.surname }}</p>
<p><b>Email</b>: {{ currentUser.email }}</p>
<p><b>Position</b>: {{ currentUser.position }}</p>
<p><b>BirthdayDate</b>: {{ currentUser.birthdayDate | date }}</p>
<p><b>Works from</b>: {{ currentUser.worksFromDate | date }}</p>
<p><b>Maximum days</b>: of vacation per year: {{ currentUser.daysOfVacation }}</p>
<P><b>Role</b>: {{ currentUser.role }}</P>
</div>

<p class="holidaysLeftMessage">You currently have <b>{{ holidaysCount }}</b> free workdays left!</p>



<img src='assets/pfp.png' height="150px" width="150px" >
