.employeesInfo{
    position: fixed;
    font-size: 15px;
    top: 20em;
    left: 15em;
    border-style: solid;
    padding: 10px;
    background-color: azure;
}

.holidaysLeftMessage{
    position: fixed;
    font-size: 15px;
    top: 5em;
    right: 5em;
}

.overtimeMessage{
    position: fixed;
    font-size: 15px;
    top: 7em;
    right: 5em;
}

