.employeesInfo{
    position: fixed;
    font-size: 15px;
    top: 10em;
    left: 15em;
    border-style: solid;
    padding: 10px;
    background-color: azure;
}

.holidaysLeftMessage{
    position: fixed;
    font-size: 15px;
    top: 5em;
    right: 5em;
}

.settings  {
    margin-top: 10px;
    margin-left: 10px;
    //display:block;
}