<app-overtime-display class="holidaysLeftMessage"></app-overtime-display>

<mat-tab-group>
    <mat-tab label="General">
        <div class="employeesInfo">
            <h1><b>Profile information</b></h1>
            <p><b>Name</b>: {{ currentUser.name }}</p>
            <p><b>Surname</b>: {{ currentUser.surname }}</p>
            <p><b>Email</b>: {{ currentUser.email }}</p>
            <p><b>Position</b>: {{ currentUser.position }}</p>
            <p><b>BirthdayDate</b>: {{ currentUser.birthdayDate | date }}</p>
            <p><b>Works from</b>: {{ currentUser.worksFromDate | date }}</p>
            <p><b>Maximum days of vacation per year</b>: {{ currentUser.daysOfVacation }}</p>
            <p><b>Free workdays left</b>: {{ currentUser.freeWorkDays | number : '.0-2' }}</p>
            <p><b>Overtime hours</b>: {{ currentUser.overtimeHours | number : '.0-2' }}</p>
            <p><b>Maximum parental leaves per month</b>: {{ currentUser.parentalLeaveLimit }}</p>
            <div *ngIf="currentUser.parentalLeaveLimit">
                <p><b>Available parental leaves this month</b>: {{ currentUser.currentAvailableLeaves }}</p>
                <p><b>Available parental leaves next month</b>: {{ currentUser.nextMonthAvailableLeaves }}</p>
            </div>
            <p><b>Role</b>: {{ currentUser.role }}</p>
        </div>
    </mat-tab>
    <mat-tab label="Settings">
        <div>
            <div>
                <button class="settings" mat-raised-button (click)="showUploadModal()">Upload holiday policy</button>
            </div>
            <div>
                <button class="settings" mat-raised-button (click)="showPasswordModal()">Change password</button>
            </div>
            <nz-modal [(nzVisible)]="isVisibleUploadModal" nzTitle="uploadModal" [nzContent]="modalContent"
                [nzFooter]="modalFooter" (nzOnCancel)="closeUploadModal()">
                <ng-template #uploadModal>
                    Upload file
                </ng-template>
                <ng-template #modalContent>
                    <app-upload [fileType]="fileTypes.HolidayPolicy"></app-upload>
                </ng-template>
                <ng-template #modalFooter>
                    <button nz-button nzType="default" (click)="closeUploadModal()">Close</button>
                </ng-template>
            </nz-modal>
            <nz-modal [(nzVisible)]="isVisiblePasswordModal" [nzTitle]="passwordModal" [nzContent]="modalContent2"
                [nzFooter]="modalFooter2" (nzOnCancel)="closePasswordModal()">
                <ng-template #passwordModal>
                    Change password
                </ng-template>
                <ng-template #modalContent2>
                    <mat-dialog-content>
                        <form novalidate [formGroup]="registerForm">
                            <div formGroupName="passwords">
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Enter old password"
                                            [type]="hideOldPassword ? 'password' : 'text'" formControlName="oldPassword"
                                            required>
                                        <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">
                                            {{hideOldPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        <mat-error *ngIf="!!oldPassword.errors?.required && oldPassword.touched">
                                            Old password is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Enter new password"
                                            [type]="hideFirstPassword ? 'password' : 'text'"
                                            formControlName="newPassword" required>
                                        <mat-icon matSuffix (click)="hideFirstPassword = !hideFirstPassword">
                                            {{hideFirstPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        <mat-error *ngIf="!!newPassword.errors?.required && newPassword.touched">
                                            New password is <strong>required</strong>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!!newPassword.errors?.minlength && !newPassword.errors?.required && newPassword.touched">
                                            Password must be at least 6 characters long
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input matInput placeholder="Confirm password"
                                            [type]="hideSecondPassword ? 'password' : 'text'"
                                            formControlName="passwordConfirm" required>
                                        <mat-icon matSuffix (click)="hideSecondPassword = !hideSecondPassword">
                                            {{hideSecondPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                        <mat-error *ngIf="!!passwordConfirm.errors?.required">
                                            Password confirmation is <strong>required</strong>
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!!passwordConfirm.errors?.minlength && !passwordConfirm.errors?.required && passwordConfirm.touched">
                                            Password must be at least 6 characters long
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-error
                                        *ngIf="newPassword.touched && passwordConfirm.touched && registerForm?.get('passwords').hasError('nomatch')">
                                        Passwords must match
                                    </mat-error>
                                </div>
                            </div>
                        </form>
                    </mat-dialog-content>
                    <mat-dialog-actions>
                        <button mat-button [disabled]="!registerForm.valid" cdkFocusInitial
                            (click)="onChangeClicked()">Change
                            password</button>
                    </mat-dialog-actions>
                </ng-template>
                <ng-template #modalFooter2>
                    <button nz-button nzType="default" (click)="closePasswordModal()">Close</button>
                </ng-template>
            </nz-modal>
        </div>
    </mat-tab>
</mat-tab-group>