.employeesInfo{
    position: fixed;
    font-size: 15px;
    top: 17em;
    left: 15em;
    border-style: solid;
    padding: 10px;
    background-color: azure;
}

img{
    position: fixed;
    top: 5em;
    left: 21.25em;
}

.holidaysLeftMessage{
    position: fixed;
    font-size: 15px;
    top: 5em;
    right: 5em;
}