.policyDownload{
    position: absolute;
    right: 25px;
    font-size: 20px;
}
.holidaysCount{
    position: absolute;
     left: 25px;
     font-size: 20px;
     color: white;
}
.titleCenter{
    position: absolute;
    color: lightgreen;
    font-size: 70px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    position: relative;
}
