<button nz-button nzType="primary" (click)=showModalCreator()>Add new employee</button>
<form #newClientForm="ngForm" class="client-input-form" (ngSubmit)="onSubmit(newClientForm)">
    <nz-modal [(nzVisible)]="isVisibleCreator" [nzTitle]="modalTitl" [nzContent]="modalConten" [nzFooter]="modalFoote"
        (nzOnCancel)="handleCancelCreator()">
        <ng-template #modalTitl>
            Add new employee
        </ng-template>
        <ng-template #modalConten>
            <mat-card>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.name" type="text" name="name" placeholder="Employee name"
                            required #nameInput="ngModel">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Employee name cannot be empty.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.surname" type="text" name="surname"
                            placeholder="Employee surname" required #nameInput="ngModel">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Employee surname cannot be empty.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select [(ngModel)]="newUser.clientId" name="clientId" placeholder="Client">
                            <mat-option [value]=null>No client</mat-option>
                            <div *ngFor="let client of clients">
                                <mat-option [value]="client.id">{{client.companyName}}</mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.worksFromDate" type="date" name="worksFromDate"
                            placeholder="Started working from date" required #nameInput="ngModel">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Date cannot be empty.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.birthdayDate" type="date" name="birthDayDate"
                            placeholder="Employee birthday date" required #nameInput="ngModel">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Date cannot be empty.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select [(ngModel)]="newUser.daysOfVacation" name="daysOfVacation"
                            placeholder="Days of vacation" required #nameInput="ngModel">
                            <mat-option [value]="20">20</mat-option>
                            <mat-option [value]="25">25</mat-option>
                            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                class="error">
                                Days cannot be empty.
                            </mat-error>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.email" type="email" name="email"
                            placeholder="Employee email" required #nameInput="ngModel"
                            pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Employee email is invalid.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.password" type="password" name="password"
                            placeholder="Employee password" required #nameInput="ngModel">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Employee password cannot be empty.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-select [(ngModel)]="newUser.role" name="role" placeholder="Employee role" required
                            #nameInput="ngModel">
                            <mat-option [value]="'admin'">Admin</mat-option>
                            <mat-option [value]="'employee'">Employee</mat-option>
                            <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                class="error">
                                Employee role cannot be empty.
                            </mat-error>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [(ngModel)]="newUser.position" type="text" name="position"
                            placeholder="Employee position" required #nameInput="ngModel">
                        <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
                            Employee position cannot be empty.
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-card>
        </ng-template>

        <ng-template #modalFoote>
            <button nz-button nzType="default" (click)="handleCancelCreator()">Cancel</button>
            <button nz-button nzType="primary" (click)="onAddButtonClick(newUser)" [nzLoading]="isConfirmLoadingCreator"
                [disabled]="newClientForm.form.invalid">Add employee</button>
        </ng-template>
    </nz-modal>
</form>

<nz-table #basicTable [nzData]="users">
    <thead>
        <tr>
            <th>Name</th>
            <th nzCustomFilter>Surname
                <i class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
                    [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
                    nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>
            </th>
            <th>Client</th>
            <th>Works from</th>
            <th>Birthday date</th>
            <th>Days of vacation</th>
            <th>Email</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of basicTable.data">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{getClientName(user.clientId)}}</td>
            <td>{{user.worksFromDate | date}}</td>
            <td>{{user.birthdayDate | date}}</td>
            <td>{{user.daysOfVacation}}</td>
            <td>{{user.email}}</td>
            <td>{{user.position}}</td>
            <td>
                <button nz-button nzType="primary"
                    (click)="populateUserForm(user); showModalEditor(); populateUserFormNoId(user)">Edit</button>
            </td>
        </tr>
        <form #editUsersForm="ngForm" class="client-input-form" (ngSubmit)="onSubmit(editUsersForm)">
            <nz-modal [(nzVisible)]="isVisibleEditor" [nzTitle]="modalTitle" [nzContent]="modalContent"
                [nzFooter]="modalFooter" (nzOnCancel)="handleCancelEditor()">
                <ng-template #modalTitle>
                    Edit employee
                </ng-template>
                <ng-template #modalContent>
                    <mat-card>
                        <div>
                            <mat-form-field>
                                <input matInput [(ngModel)]="formDataUsersNoId.name" type="text" name="name"
                                    placeholder="Employee name" required #nameInput="ngModel">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Employee name cannot be empty.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [(ngModel)]="formDataUsersNoId.surname" type="text" name="surname"
                                    placeholder="Employee surname" required #nameInput="ngModel">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Employee surname cannot be empty.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select [(ngModel)]="formDataUsersNoId.clientId" name="clientId"
                                    placeholder="Client id">
                                    <mat-option [value]=null>No client</mat-option>
                                    <div *ngFor="let client of clients">
                                        <mat-option [value]="client.id">{{client.companyName}}</mat-option>
                                    </div>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [ngModel]="formDataUsersNoId.worksFromDate | date: 'yyyy/MM/dd'"
                                    type="date" name="worksFromDate" placeholder="Started working from date" required
                                    #nameInput="ngModel">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Date cannot be empty.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [(ngModel)]="formDataUsersNoId.birthdayDate" type="date"
                                    name="birthDayDate" placeholder="Employee birthday date" required
                                    #nameInput="ngModel">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Date cannot be empty.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-select [(ngModel)]="formDataUsersNoId.daysOfVacation" name="daysOfVacation"
                                    placeholder="Days of vacation" required #nameInput="ngModel">
                                    <mat-option [value]="20">20</mat-option>
                                    <mat-option [value]="25">25</mat-option>
                                    <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                        class="error">
                                        Days cannot be empty.
                                    </mat-error>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [(ngModel)]="formDataUsersNoId.email" type="text" name="email"
                                    placeholder="Employee email" required #nameInput="ngModel"
                                    pattern="[a-zA-Z0-9.-]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{3,}">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Employee email is invalid.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [(ngModel)]="formDataUsersNoId.role" type="text" name="role"
                                    placeholder="Employee role" required #nameInput="ngModel">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Employee role cannot be empty.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input matInput [(ngModel)]="formDataUsersNoId.position" type="text" name="position"
                                    placeholder="Employee position" required #nameInput="ngModel">
                                <mat-error *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)"
                                    class="error">
                                    Employee position cannot be empty.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </ng-template>

                <ng-template #modalFooter>
                    <button nz-button nzType="default" (click)="handleCancelEditor()">Cancel</button>
                    <button nz-button nzType="danger" (click)="showDeleteConfirm(formDataUsers.id)">Delete</button>
                    <button nz-button nzType="primary"
                        (click)="onEditConfirmButtonClick(formDataUsersNoId, formDataUsers.id)"
                        [disabled]="editUsersForm.form.invalid">Confirm edit</button>
                </ng-template>
            </nz-modal>
        </form>
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="search-box">
        <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
            Search
        </button>
        <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
</nz-dropdown-menu>